*{
    margin: 0;
}

/*creazione header*/
header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    height: 180px;
    position: relative;
    margin-bottom: 25px;
}

#logo{
    width: 250px;
    position: absolute;
    bottom: 20px;
}

/*creazione titolo body*/
#scritto{
    color: #808080;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #20A9E5;
}

/*creazione prima sezione immagini*/
#diritti{
    font-weight: bold;
    margin-bottom: 20px;
}

/*paragrafo e lista*/
#paragrafo, #lista{
    margin-bottom: 20px;
}

/*tabella*/
thead{
    background-color: #20A9E5;
    color: white;
}

.odd{
    background-color: #B1E5F2;
}

table{
    margin-bottom: 20px;
}

td, th{
    width: 30%;
    text-align: left;
}

/*secondo paragrafo*/
p{
    margin-bottom: 50px;
}

/*creazione footer*/
#interessi{
    color: #808080;
    margin-bottom: 10px;
}

.img-set{
    width: 250px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: white;
    font-size: 22px;
    font-weight: bolder;
}

#graph{
    background-image: url(../img/graph.jpg);
}

#monitor{
    background-image: url(../img/monitor.jpg);
}