*{
    margin: 0;
}

/*creazione header*/
header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    height: 180px;
    position: relative;
    margin-bottom: 25px;
}

#logo{
    width: 250px;
    position: relative;
    position: absolute;
    bottom: 20px;
}

/*creazione titolo body*/
#scritto{
    color: #808080;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #20A9E5;
}

/*creazione prima sezione immagini*/
#diritti{
    font-weight: bold;
}